.rightBlock {
    color: blue;
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: auto;
    -webkit-box-flex: 1 1 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    padding-left: 2em;
}